<header>
  <div class="px-3 py-2 bg-primary">
    <div class="m-0">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-decoration-none">
          <img src="/assets/Inprocode_transparent.png" width="75px">
        </a>
        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0">
          <li class="nav-item">
            <a href="/home" class="nav-link active"><i class="bi bi-house-door"></i> Home</a>
          </li>
          <li class="nav-item">
            <a href="/map" class="nav-link"><i class="bi bi-map"></i> Mapa</a>
          </li>
          <li class="nav-item">
            <a href="/calendar" class="nav-link"><i class="bi bi-table"></i> Calendari</a>
          </li>
          <li class="nav-item">
            <a href="/charts" class="nav-link"><i class="bi bi-graph-up"></i> Gràfics</a>
          </li>
        </ul>
        <div class="ms-4 align-content-center">
          <button onclick="cambiarHojaDeEstilo()" class="btn btn-secondary"><i class="bi bi-brightness-high"></i> <i class="bi bi-arrows"></i> <i class="bi bi-moon-stars"></i></button>
        </div>
      </div>
    </div>
  </div>
</header>
