<header>
  <nav class="navbar navbar-expand-lg bg-primary text-primary p-0" data-bs-theme="dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
          <img src="/assets/Inprocode_transparent.png" width="75px">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor01">
          <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="/home" class="nav-link"><i class="bi bi-house-door"></i> RESERVAS</a>
          </li>
          <li class="nav-item">
            <a href="/map" class="nav-link"><i class="bi bi-map"></i> MAPA</a>
          </li>
          <li class="nav-item">
            <a href="/calendar" class="nav-link"><i class="bi bi-table"></i> CALENDARIO</a>
          </li>
          <li class="nav-item">
            <a href="/charts" class="nav-link"><i class="bi bi-graph-up"></i> GRÁFICAS</a>
          </li>
        </ul>
        <div class="m-4 text-end">
          <button onclick="cambiarHojaDeEstilo()" class="btn btn-secondary">
            <i class="bi bi-brightness-high"></i>
            <i class="bi bi-arrows m-2"></i>
            <i class="bi bi-moon-stars"></i></button>
        </div>
      </div>
    </div>
  </nav>
</header>
