<div class="m-3 p-3">
  <h1>Mapa</h1>

  <div class="alert alert-dismissible alert-info">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <i class="bi bi-info-circle"></i><strong> Instrucciones:</strong> Haz click sobre cualquier punto del mapa para guardar una ubicación. Para eliminarla, vuelve a hacer click encima de ella.
  </div>

  <google-map [height]="'600px'" [width]="'100%'" [zoom]="zoom" [center]="center" [options]="options" (mapClick)="addMarker($event)">
    <map-marker *ngFor="let marker of markers; let i = index"
                [position]="{lat: marker.lat, lng: marker.lng}"
                [title]="marker.title"
                [options]="{ draggable: true }"
                (mapClick)="removeMarker(i)">
    </map-marker>
  </google-map>

</div>
