<div class="m-3 p-3">
  <h1>Gráficas</h1>
  <div class="row mb-5">

    <div class="col-12 col-xl-6 mb-4">
      <div class="mt-5 text-center"><h3>Reservas anuales</h3></div>
      <div style="height: 40vh;">
        <canvas id="canvas1"></canvas>
      </div>
    </div>
    <div class="col-12 col-xl-6 mb-4">
      <div class="mt-5 text-center"><h3>Eventos anuales</h3></div>
      <div style="height: 40vh;">
        <canvas id="canvas2"></canvas>
      </div>
    </div>
    <div class="col-12 col-xl-6 mb-4">
      <div class="mt-5 text-center"><h3>Rango de horarios de reservas</h3></div>
      <div style="height: 40vh;">
        <canvas id="canvas3"></canvas>
      </div>
    </div>
    <div class="col-12 col-xl-6 mb-4">
      <div class="mt-5 text-center"><h3>Servicios reservados</h3></div>
      <div style="height: 40vh;">
        <canvas id="canvas4"></canvas>
      </div>
    </div>

  </div>
</div>

